<ul class="list-unstyled layout my-3">
  <EsCard @image={{hash src="../assets/images/bumper.jpeg" alt="bumper"}} class="lg:col-2 text-center">
    <h3>Squeeky Clean, From Bumper to Bumper</h3>
    <ul class="list-unstyled">
      <p>
        Nothing is worse than finding that pesky dirty spot on your car after a deep hand wash. That's why we make sure your entire vehicle gets the same love and care from our team - bumper to bumper!
      </p>
    </ul>
  </EsCard>
  <EsCard @image={{hash src="../assets/images/insidedetail.jpeg" alt="detail inside car"}} class="lg:col-2 text-center">
    <h3>Feel At Home Inside Your Vehicle</h3>
    <ul class="list-unstyled">
      <p>If you spend a lot of time in your car, you'll want to make sure that you don't feel like your too far from home. Nobody likes living in a home that is dirty, do they? Make sure that you keep your vehicle just as clean as you would where you sleep!</p>
    </ul>
  </EsCard>
  <EsCard @image={{hash src="../assets/images/washblackcar.jpeg" alt="super dirty"}} class="lg:col-2 text-center">
    <h3>Authentic and Quality Service</h3>
    <p>We aren't the biggest auto detailing shop that you will find in the Austin Metro area, but we promise that your car will receive the love it deserves and you can expect authentic and quality service you won't find anywhere else!</p>
  </EsCard>
</ul>