<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>&copy; {{year}} Quake's Auto Detail. All rights reserved.</p>
        <a href="{{siteUrl}}">Quake's</a>
      </div>
    </div>
  </div>
</footer>