<Jumbo>
  <h2>About Quake's Auto Detail</h2>
  <p>
    Thank you for stopping by to check out our delightful auto-detailing website where we would love to share our experience and passion with you. We love to make your vehicle look better than the day you drove it off the lot!
    <br />
    Quake's Auto Detail is a family-owned and operated auto-detailing company in Austin, Texas. We are dedicated to providing the best auto-detailing service in the area. Our small-business was formed on a passion for auto-detailing, a work-ethic that can't be beat, and a drive to serve our community since our first day of operation.
  </p>
   <LinkTo @route="contact" class="button">Contact Us</LinkTo>
</Jumbo>