<div class="container">
  <header>
    <NavBar />
  </header>

  <div class="body">
    {{outlet}}
  </div>

  <footer>
    &copy; {{year}} Quake's Auto Detail. All rights reserved.
  </footer>
</div>
