<div class="jumbo">
<div class="right quakes"></div>
<h2>Photo Gallery</h2>
<p>
  Check out our gallery of detailed vehicles and happy customers. Got a car that needs a little attention? Stop on by and maybe you can be a part of our page of "jobs well done".
</p>
</div>