<Jumbo>
  <h2>We're All About the Details!</h2>
  <p>Our experience and passion makes us the go to auto-detailing company in Austin, Texas. We love making your vehicle look better than the day you drove it off the dealership lot!</p>
  <LinkTo @route="about" class="button">About Us</LinkTo>
</Jumbo>


<div>
  <h1 class="cardhead">
  It's No Secret Why Car Lovers Choose Quake's Auto Detailing...
</h1>
  <Card />
</div>




<div class="rentals">
  <div class="service">
      <h1>We Offer A Service Package
        <br />
        For Every Level of Detail</h1>
  </div>
  <ul class="results">
    <li></li>
    <li></li>
    <li></li>
    {{#each @model as |detail|}}
      <li><Detail @detail={{detail}} /></li>
    {{/each}}
  </ul>
</div>